*{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}


body {
    background-image: url(../images/atencion.jpg);
    background-size: 10vw;
}
  
.main-container{
    visibility:hidden;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.no{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align:center;
    text-decoration:underline rgb(0, 0, 0);
    font-size: 7vmax;
    width: 100vw;
}

.no p{
    height: 100%;
    color: black;
    background-color: rgb(255, 208, 0);
}

@media screen and (min-aspect-ratio: 1500/1222){
    .main-container{
        visibility: visible;
    }
    
    .no{
   visibility:hidden; 
   font-size: 0.1vmin;
    }

    body {
        background-image: url('../images/fondo.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100vw 100vh;
        display: grid;
        justify-content: center;
        overflow-x: hidden;
        margin: 0;
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif;
    }
}
  
  .navbar {
    overflow: hidden;
    background-color: hsl(0, 0%, 21%);
    display: flex;
    justify-content: right;
    justify-items: right;
    animation:down 2s;
    position: relative;
    width: 100vw;
    border-bottom: solid .1vmin rgb(255, 255, 255);
    border-top: solid .1vmin rgb(255, 255, 255);
  }

  .ojito{
      animation: down 3s;
      position: relative;
  }

  @keyframes down{
    0%   {opacity: 0%; top:-15vw;}
    100% {opacity:100%;  top:0;}
  }

  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: #808080;
    color: white;
    
  }


main{
    width: 100vw;
    padding:3%;
}

h1{
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 10vmax;
    text-shadow: 1.5vmin 1.5vmin black;
}

.into{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-radius: 2.3vmax;
    border: solid #fff .4vmin;
    margin: 3% 0 6% 0;
    
}

.into .seccion-into1{
    background-color: #262626;
    border-top-left-radius: 2vmax;
    border-bottom-left-radius: 2vmax;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.into .seccion-into2{
    background-color: #efcb02;
}

.into .seccion-into3{
    background: #ffdb12;
    border-top-right-radius: 2vmax;
    border-bottom-right-radius: 2vmax;
}

.into{
    font-size: 1.5vmax;
}

h2.impor{
    font-size: 4vmax !important;
    color: #fff !important;
}

svg.flecha{
    height: 8vmax;
}

.info-1{
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 2vmax;
    border: solid #fff .4vmin;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 6fr;
    margin: 0 5%;
}

.uno{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    margin: 0 3% 0 3%;
    justify-items: center;
    align-items: center;
}

.uno img{
    width: 65%;
    border-radius: 2vmax;
    box-shadow: 1vmax 1vmax rgba(0, 0, 0, 0.507);
    border: solid #fff 0.2vmin;
}

.cheeto{
    font-size: 2.8vmax;
    text-align: justify;
}

span{
    font-weight: 700;
}

.dos{
    margin: 0 3% 2% 3%;
}

.solito{
    width: 100%;
    background-color: rgb(255, 208, 0);
    border-radius: 2.3vmax;
    border: solid #fff .4vmin;
    margin: 3% 0;
    font-size: 2.5vmax;
    
}

.solito p{
    margin: 3%;
}

.info-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 7%;
    justify-items: 100%;
    align-items: 100%;
    margin: 5%;
}


.info-2 .uwito{
    border-radius: 2vmax;
    padding: 3%;
    border: solid #fff 0.3vmin;
}

.info-2 div img{
    width: 80%;
    border-radius: 2vmax;
}

.ulti{
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 7%;
}

.info-2 .ulti div img{
    width: 100%;
}

.one{background-color: rgba(255, 0, 0, 0.5);}
.two{background-color: rgba(255, 115, 0, 0.5);}
.three{background-color: rgba(255, 238, 0, 0.5);}
.four{background-color: rgba(0, 255, 13, 0.5);}
.five{background-color: rgba(0, 247, 255, 0.5);}
.six{background-color: rgba(17, 0, 255, 0.5);}
.seven{background-color: rgba(174, 0, 255, 0.5);}
.eight{background-color: rgba(255, 44, 237, 0.5);}

.uwito h3{
    font-size: 3vmax;
    color: rgb(255, 255, 255);
}

.uwito p{
    font-size: 2vmax;
}

footer{
    width: 100vw;
    background-color: rgb(255, 208, 0);
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  footer p{
    font-size: 1vw;
  }