*{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}


body {
    background-image: url(../images/atencion.jpg);
    background-size: 10vw;
}
  
.main-container{
    visibility:hidden;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.no{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align:center;
    text-decoration:underline rgb(0, 0, 0);
    font-size: 7vmax;
    width: 100vw;
}

.no p{
    height: 100%;
    color: black;
    background-color: rgb(255, 208, 0);
}

@media screen and (min-aspect-ratio: 1500/1222){
    .main-container{
        visibility: visible;
    }
    
    .no{
   visibility:hidden; 
   font-size: 0.1vmin;
    }

    body {
        background-image: url('../images/fondowo.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100vw 90vh;
        display: grid;
        justify-content: center;
        overflow-x: hidden;
        margin: 0;
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif;
    }
}
  
  .navbar {
    overflow: hidden;
    background-color: hsl(0, 100%, 20%);
    display: flex;
    justify-content: right;
    justify-items: right;
    animation:down 2s;
    position: relative;
    width: 100vw;
    border-bottom: solid .1vmin rgb(255, 255, 255);
    border-top: solid .1vmin rgb(255, 255, 255);
  }


  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: #551c1c;
    color: white;
    
  }


main{
    width: 100vw;
}

img{
    width: 40%;
}

li{
    list-style: none;
}

.main{
    display: grid;
    grid-template-columns: 7fr 13fr ;
    grid-row: 1fr;
    margin: 5% 0 5% 3%;
    width: 94%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.main h1{
    font-size: 5.5vmax;
    font-family: 'Rubik Moonrocks', cursive;
    color: #fff;
    text-shadow: 1.5vmin 1.5vmin rgba(0, 0, 0, 0.5);
}

.section{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    border-top: double hsl(0, 100%, 20%) .5vmax ;
    border-bottom: double hsl(0, 100%, 20%) .5vmax ;
    padding: 3% 5% 3% 5%;
    width: 90%;
}

.cheeto{
    font-size: 4vmax;
    color: hsl(0, 100%, 20%);
    width: 100%;
    text-align: justify;
    font-weight: 800;
}

.section p{
    font-size: 2.5vmax;
    text-align: justify;
}