*{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}


body {
    background-image: url(../images/atencion.jpg);
    background-size: 10vw;
}
  
.main-container{
    visibility:hidden;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.no{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align:center;
    text-decoration:underline rgb(0, 0, 0);
    font-size: 7vmax;
    width: 100vw;
}

.no p{
    height: 100%;
    color: black;
    background-color: rgb(255, 208, 0);
}

@media screen and (min-aspect-ratio: 1500/1222){
    .main-container{
        visibility: visible;
    }
    
    .no{
   visibility:hidden; 
   font-size: 0.1vmin;
    }

    body {
        background-image: url('../images/fondo-bonis.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100vw 100vh;
        display: grid;
        justify-content: center;
        overflow-x: hidden;
        margin: 0;
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif;
    }
}
  
  .navbar {
    overflow: hidden;
    background-color: hsl(189, 75%, 52%);
    display: flex;
    justify-content: right;
    justify-items: right;
    animation:down 2s;
    position: relative;
    width: 100vw;
  }

  @keyframes down{
    0%   {opacity: 0%; top:-15vw;}
    100% {opacity:100%;  top:0;}
  }

  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: rgb(31, 111, 142);
    color: black;
  }
  
  .navbar a.active {
    background-color: #16878d;
    color: white;
    
  }

  
  .titulo{
    width: 100vw;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    animation-name: arri;
    animation-duration: 3s;
    position: relative;
}

.titulo h1{
    grid-column: 2;
    grid-row: 2;
    font-family: 'Patrick Hand', cursive;
    font-size: 7vmax;
    text-align: center;
    color: hsl(189, 75%, 52%);
    text-shadow: .5vmin .5vmin #ffffff;
    
}

@keyframes arri{
    0%   {opacity: 0%; top:-30vw;}
    100% {opacity:100%;  top:0;}
  }

  .section{
      background-color: rgb(255, 254, 247);
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
  }

  .section img{
      width: 100%;
      height: 100%;
  }

  .section div.impar{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
  }

  .section div{
    padding: 15%;
    border: dotted 2px rgb(192, 0, 0);
  }

  .section div h2, .section div p{
    animation: izq 5s;
    position: relative;
  }

  .section div.impar h2, .section div.impar p{
    animation: der 5s !important;
  }

  @keyframes izq{
    0%   {opacity: 0%; left:30vw;}
    100% {opacity:100%;  left:0;}
  }

  @keyframes der{
    0%   {opacity: 0%; left:-30vw;}
    100% {opacity:100%;  left:0;}
  }

  .imp{
      height: 40vmax !important;
  }

  div.section div h2, .main-tt{
    font-family: 'Patrick Hand', sans-serif;
    font-size: 5vmax;
    text-align: justify;
  }

  .main-tt{
      text-align: center !important;
      color: rgb(192, 0, 0);
  }

  .section-main div{
      width: 100%;
  }

  .section-main{
    background-color: rgb(255, 254, 247) !important; 
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr !important;
  }

  .section-main div p.one{
    font-size: 2vmax;
    text-align: justify;
  }
  .section-main div p.two{
    font-size: 2vmax;
    text-align: center;
    margin-top: 3%;
  }
  
  .big{
      font-size:  3vmax !important;
  }

  .bigt{
      font-size: 7vmax !important;
  }
  
  .section-main h2, .section-main div{
      animation: arri 3s;
      position: relative;
  }

  @keyframes aba{
    0%   {opacity: 0%; top:30vw;}
    100% {opacity:100%;  top:0;}
  }

  div.section div p{
    font-family: 'Barlow', sans-serif;
    text-align: justify;
    font-size: 2vmax;
  }

  h2.bi{
    color: hsl(0, 100%, 33%);
  }

  h2.ho{
    color: hsl(0, 100%, 33%);
  }

  h2.he{
    color: hsl(0, 100%, 33%);
  }

  h2.pan{
    color: hsl(0, 100%, 33%);
  }

  h2.a{
    color: hsl(0, 100%, 33%);
  }

  h2.demi{
    color: hsl(0, 100%, 33%);
  }

 

  .section-main{
    background-color: rgb(255, 254, 247);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    border-top: double hsl(0, 100%, 33%) .5vmax ;
    border-bottom: double hsl(0, 100%, 33%) .5vmax ;
    padding: 2% 10%;
  }

  .section-final{
    background-color: rgb(255, 254, 247) !important; 
    background-color: rgb(255, 254, 247);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-top: double hsl(0, 100%, 33%) .5vmax ;
    border-bottom: double hsl(0, 100%, 33%) .5vmax ;
    padding: 3% 10%;
  }

  .section-final a{
    margin: 1vmax;
    font-size: 1.5vmax;
    text-decoration: none;
    font-weight: 700;
    width: 40%;
    text-align: center;
    background-color: hsl(189, 75%, 52%);
    color: #fff;
    padding: 1%;
    border-radius: 1em;
    box-shadow: 1vmax 1vmax 1vmin rgba(0, 119, 143, 0.349);
}

.section-final  a:hover{
    background-color: rgb(58, 168, 231);
    box-shadow: 1vmax 1vmax 0.5vmin rgba(0, 134, 143, 0.534);
}

.section-final  a:focus{
    text-shadow: 0px 0px .5vmax #ffffff;
    box-shadow: .8vmax .8vmax 0.5vmin rgba(0, 143, 141, 0.534);
}
