*{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}


body {
    background-image: url(../images/atencion.jpg);
    background-size: 10vw;
}
  
.main-container{
    visibility:hidden;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.no{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align:center;
    text-decoration:underline rgb(0, 0, 0);
    font-size: 7vmax;
    width: 100vw;
}

.no p{
    height: 100%;
    color: black;
    background-color: rgb(255, 208, 0);
}

@media screen and (min-aspect-ratio: 1500/1222){
    .main-container{
        visibility: visible;
    }
    
    .no{
   visibility:hidden; 
   font-size: 0.1vmin;
    }

    body {
        background-image: url('../images/flag.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100vw 100vh;
        display: grid;
        justify-content: center;
        overflow-x: hidden;
        margin: 0;
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif;
    }
}
  
  .navbar {
    overflow: hidden;
    background-color: hsl(189, 75%, 52%);
    display: flex;
    justify-content: right;
    justify-items: right;
    animation:down 2s;
    position: relative;
    width: 100vw;
  }

  @keyframes down{
    0%   {opacity: 0%; top:-15vw;}
    100% {opacity:100%;  top:0;}
  }

  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: #0473aa;
    color: white;
    
  }
  
  main{
    margin: 5% 15% 0 15%;
    display: grid;
    grid-template-columns: 1fr;
    
}

main div.section{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(255,255,255,0.8);
    border: solid hsl(189, 75%, 52%) .3vmax;
    border-radius: 2vw;
    margin-bottom: 4%;
    animation: der 4s;
    position: relative;
}

ul{
  list-style:inside;
}

h1{
  font-weight: 700;
      font-size: 4vmax;
      color:hsl(189, 75%, 52%);
}

h1,li,p.text{
  margin: 2% 5%;
}

p.text{
  text-align: justify;
}

.text{
  font-size: 2vmax;
}

img.dsm{
  width: 18%;
  border-radius: 2vmin;
  margin-bottom: 2%;
  box-shadow: 2vmin 2vmin rgba(17, 0, 78, 0.39);
}

footer{
  width: 100vw;
  background-color: rgb(255, 208, 0);
  display: flex;
  justify-content: center;
  border-top: solid black;
  position: relative;
}

footer p{
  font-size: 1vw;
}

@keyframes der{
  0%   {opacity: 0%; left:-100vw; top:-100vh}
  60%   {opacity: 100%; left:0vw; top:-0vh}
  61%{
    transform:rotate(0deg)
              translate(-10vw)
              rotate(0deg);
  
  }
  100%{
    transform:rotate(360deg)
              translate(0px)
              rotate(-360deg);
  }


}

h2{
    color: hsl(189, 75%, 52%);
    font-weight: 600;
}

.cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 2%;
    border: solid hsl(189, 75%, 52%) 0.2vmax;
    background-color: #fff;
    border-radius: 2vmax;
}

img{
    width: 85%;
    border-radius: 2vmax;
    border: solid hsl(189, 75%, 52%) 0.2vmax;
}

h3{
    font-size: 2.5vmax;
    color: rgb(160, 0, 0);
    font-weight: 800;
}

div div div p{
    font-size: 1.7vmax;
}

.gender{
    border-left: solid hsl(189, 75%, 52%) 0.2vmax;
    border-right: solid hsl(189, 75%, 52%) 0.2vmax;
}